body{
    background-color: chocolate;
}
#navigation{
    background-color: black;
    color: white;
    height: 10vh;
    width: 100%;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
}
#navigation h1{
    margin-left: 0.5rem;
}
nav a{
    color: white;
    text-decoration: none;
    margin: 1rem;
    font-size: 20px;
    font-family: 'Inter';
    position: relative;
    top: 1rem;
    font-style: italic;
    font-weight: bolder;
}
.hire{
    position: relative;
    top: 10rem;
    font-size: 30px;
    background-color: silver;
}
.name{
  background-color: white;
  color: black;
  border-radius: 30px;
  box-shadow: 10rem;
  margin-left: 1rem;
  font-size: 20px;
  font-weight: bolder;
  font-style: italic;
}
img{
    position: relative;
    top: 1rem;
    margin-left: 1rem;
    border-radius: 415px;
}
#home{
    background-color: black;
    margin-top: 2rem;
    height: 370px;
    width: 100%;
    border-radius: 30px;
    color: white;
  display: flex;
    justify-content: space-between;
}
.header {
    height: 180px;
    width: 469px;
    background-color: white;
    font-size: 18px;
    margin: 2rem;
    border-radius: 30px;
    color: black;
}
.project{
    height: 2.5rem;
    width: 202px;
    height: 64px;
    font-style: italic;
    font-size: 30px;
    border-radius: 21px;
    margin-top: 4.5rem;

}
#services{
    display: flex;
    justify-content: space-between;

}
.card{
    height: 50vh;
    background-color: white;
    width: 35%;
    margin: 1rem;
    position: relative;
    top: 4rem;
    border-radius: 30px; 
   box-shadow: -24px 11px 16px 3px rgba(0,0,0,0.56);
-webkit-box-shadow: -24px 11px 16px 3px rgba(0,0,0,0.56);
-moz-box-shadow: -24px 11px 16px 3px rgba(0,0,0,0.56);
}
.services{
    text-align: center;
    font-size: 40px;
}
#footer{
    height: 10vh;
}
/* The contact form styling s property*/
#card{
    height: 60vh;
    width: 50%;
    background-color: white;
    margin: auto;
    position: relative;
    top: 30vh;
    display: flex;
     box-shadow: -24px 11px 16px 3px rgba(0,0,0,0.56);
-webkit-box-shadow: -24px 11px 16px 3px rgba(0,0,0,0.56);
-moz-box-shadow: -24px 11px 16px 3px rgba(0,0,0,0.56);
}
#contact{
    position: relative;
    width: 35%;
    height: 100%;
    background-color: black;
}
#contact >h1{
    margin-left: 2rem;
    color: chocolate;
    font-family: 'Italianno';
    Font-style: italic;
    Font-size: 40px;
}
#contactform{
    margin-left: 2rem;
   
}
span{
    color: chocolate;

}
.name{
    font-size: 30px;
    font-style: italic;
}
input{
    color: white;
    background-color: black;
    font-size: 25px;
}
.fa-brands{
    color: white;
    margin: 1rem 0 0 1rem;
    font-size: 1.4rem;

    }
    .fa-brands:hover{
        cursor: pointer;
        color: chocolate;
    }
.message{
    position: relative;
    left: 20%;
    top: 4.5rem;
    border-radius: 1rem;
}
.message:hover{
    color: black;
    background-color: chocolate;
    cursor: pointer;
}